#main-title{
  text-transform: uppercase;
}

.discount{
  text-align:center;
  border: 3px solid #00afdb;
  background: #fff;
  margin-right: 5px;
  line-height: 1;
  box-sizing: border-box;
  min-height: 30px !;
  align-items: center;
  transition: background 0.15s;
  display: flex;
  text-transform: uppercase;
}

.discount *{
  color: #00afdb;
  font-size: 1.1em;
}

.discount.checked, .discount.checked *{
  color: #fff !important;
  background: #00afdb;
}

.checkbox input{
  display: none;
}

.discount .checkbox strong, .discount label.checkbox{
  color: #00afdb;
}
