@font-face {
  font-family: 'LeagueGothic';
  src: url('/fonts/LeagueGothic.otf');
  url: ('/fonts/LeagueGothic.otf');
}

.title{
  text-transform: uppercase;
  font-family: 'LeagueGothic';
  letter-spacing: 2.4px;
}

.discount{
  text-align:center;
  border: none;
  background: #000;
  color: #fff;
  margin-right: 5px;
  line-height: 1;
  box-sizing: border-box;
  min-height: 30px !;
  align-items: center;
  transition: background 0.15s;
  display: flex;
  text-transform: uppercase;
  font-family: 'LeagueGothic';
  letter-spacing: 2px;
  margin-bottom: 5px;
}

.discount *{
  color: #fff;
  font-size: 1.2em;
}

.discount.checked, .discount.checked *{
  color: #00afdb;
  background: #00afdb;
}

.checkbox input{
  display: none;
}

.discount .checkbox strong, .discount label.checkbox{
  color: #fff;
}

.expand{
  width: 100%;
  height: 100%;
}

footer{
  text-align: center;
}
